@page "/"

@using BlazingPizza.Dane
@inject PizzaService PizzaSvc

<div class="main">
  <h1>Blazing Pizzas</h1>
  <ul class="pizza-cards">
        @if (todaysPizzas == null)
        {
            <p>We're finding out what pizzas are available today...</p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Pizza Name</th>
                        <th>Description</th>
                        <th>Vegetarian?</th>
                        <th>Vegan?</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pizza in todaysPizzas)
                    {
                        <tr>
                            <td>@pizza.Name</td>
                            <td>@pizza.Description</td>
                            <td>@pizza.Vegetarian</td>
                            <td>@pizza.Vegan</td>
                            <td>@pizza.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
  </ul>
</div>

@code {
    List<Pizza> specials = new();

    private Pizza[] todaysPizzas;

    protected override async Task OnInitializedAsync()
    {

        todaysPizzas = await PizzaSvc.GetPizzasAsync();
        
    }
}
		