@page "/myorders"

@using BlazingPizza.Model
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Zamów Pizze</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" />
        <div>Moje zamówienia</div>
    </NavLink>
</div>

<div class="main">
    @if (ordersWithStatus == null)
    {
        <text>Ładowanie...</text>
    }
    else if (!ordersWithStatus.Any())
    {
        <h2>Brak zamówień</h2>
        <a class="btn btn-success" href="">Zamów jakąś pizze</a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var item in ordersWithStatus)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@item.Order.CreatedTime.ToLongDateString()</h5>
                        Produkty:
                        <strong>@item.Order.Pizzas.Count()</strong>;
                        Łącznie do zapłaty:
                        <strong>@item.Order.GetFormattedTotalPrice()zł</strong>
                    </div>
                    <div class="col">
                        Stan: <strong>@item.StatusText</strong>
                    </div>
                    @if (@item.StatusText != "Dostarczona")
                    {
                        <div class="col flex-grow-0">
                            <a href="myorders/" class="btn btn-success">
                                Śledź zamówienie
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>

@code {
    List<OrderWithStatus> ordersWithStatus = new List<OrderWithStatus>();

    protected override async Task OnParametersSetAsync()
    {
        ordersWithStatus = await HttpClient.GetFromJsonAsync<List<OrderWithStatus>>(
            $"{NavigationManager.BaseUri}orders");
    }
}